body {
  font-family: 'Patua One', cursive;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #2e2e2a;
  line-height: 60px;

}

h1{
  font-family: 'Berkshire Swash', cursive;
  font-size: 31px;
  position: absolute;
  top: -3%;
  left: 3%;
  color: white;
}

li {
  width: 155%;
  display: inline-block;
  text-align: center;
}
a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

input{
  position: absolute;
  top: 20px;
  left: 26%;
  width: 38%;
}
button{
  font-family: 'Patua One', cursive;
  top: 15px;
  width: 110px;
  height: 30px;
  left: 86%;
  position: absolute;
  font-size:17px;
  color:black;
  background:#fff;
  border:0px;
  }
  .fondo{
    background-color: red;
    margin: 100%;
    height: 100%;
  }
}
