<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dimensión Vegana</title>
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Patua+One|Raleway" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Iniciar Sesión</a></li>
        <button type="button">Registrate</button>
      <ul>
        <div>
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" class="form-control" placeholder="Buscar" />
        </div>
    </nav>
    <div>
      <h1>Dimensión Vegana</h1>
    </div>
  </body>
</html>
