<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>USER PROFILE</title>
  <!-- Materialize css Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Bootstrap css -->
  <!-- <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="vendors/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
  <!-- Raleway font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!-- Font-awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Logo favicon -->
  <!-- <link rel="icon" type="image/png" href="../assets/icons/favicon.png"/> -->
  <!-- home.css -->
  <link rel="stylesheet" href="../css/home.css">
  <!-- modal.css -->
  <link rel="stylesheet" href="../css/modal.css">
</head>
<body>
  <!-- navigator -->
  <nav data-activates="mobile-demo" class="button-collapse">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Dimensión Vegana</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Iniciar Sesión</a></li>
        <li><a href="#">Registrate</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Información</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Iniciar Sesión</a></li>
        <li><a href="#">Registrate</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Información</a></li>
      </ul>
    </div>
  </nav>

  <!-- section user profile and coments -->
  <main class="bg-gif1">
    <section class="box-coments">
      <!--  body box begin-->
      <div class="body-card">
        <div class="container">
          <div class="row">
            <div class="col l4 m8 s12 offset-m2 offset-l4">
              <div class="box-card">
                <div class="card">
                  <!-- <figure class="photo-user left-align"> -->
                    <img class="img-user1 circle" src="../assets/images/user-img/user1.jpg" alt="User Photo">
                  <!-- </figure> -->
                  <div class="card-image">
                    <!-- <a href="#" class="btn-floating btn-large icon-img-text waves-effect waves-light green darken-3">Veg</a> -->
                    <img src="../assets/images/comi.jpg" alt="veggie-img">
                    <span class="card-title"><span>Ensalada Super Rica</span></span>
                  </div>
                  <!-- icons -->
                  <ul class="card-action-buttons">
                      <li><a href="#" target="_blank" class="btn-floating waves-effect waves-light white"><i class="material-icons grey-text text-darken-3">share</i></a></li>
                      <li><a class="btn-floating waves-effect waves-light green darken-2"><i class="material-icons like">favorite_border</i></a></li>
                      <li><a id="face" class="btn-floating waves-effect waves-light blue"><i class="material-icons star">star</i></a></li>
                  </ul>
                  <!-- card contain -->
                  <div class="card-content">
                    <div class="row">
                      <div class="col s12">
                        <p>
                          <strong>Descripción:</strong> <br />
                          Ensalada super nutritiva, en sólo 5 minutos puedes comer super rico.
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="chips-style" >
                        <div class="chip">Veggie</div>
                        <div class="chip">Saludable</div>
                        <!-- <div class="chip">Económico</div> -->
                        <!-- <div class="chip">Rápido</div> -->
                        <div class="chip"><a href="#">Más...</a></div>
                      </div>
                    </div>
                    <div class="row">
                      <!-- old comments -->
                      <div class="text-comments">
                        <div class="card-action p-10">
                          <div class="row row1">
                            <div class="input-field m-0">
                              <a href="#" class="prefix"><img src="../assets/images/user-img/user1.jpg" alt="user" class="img-user2 circle"></a>
                              <p class="col s10 m11 l10 right m-0 w-wrap p-10 white">yummy :)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- new comments -->
                      <div class="card-action p-10">
                        <div class="row row1">
                          <div class="input-field m-0">
                            <a href="#" class="prefix"><img src="../assets/images/user-img/user1.jpg" alt="user" class="img-user2 circle"></a>
                            <p class="col s10 m11 l10 right m-0 w-wrap p-10 white">Intentaré preparar tu receta</p>
                          </div>
                        </div>
                      </div> <!-- card-action END-->
                    </div>  <!-- . row END-->
                  </div> <!-- .card-content END-->
                </div>  <!-- .card END-->
              </div> <!-- .product-card END-->
            </div> <!-- .col l4 m8 s12 offset-m2 offset-l4 END-->
          </div> <!-- .row END-->
        </div> <!-- .container END--> <!-- body box END-->
      </div> <!-- .body-card END--> <!-- body box END-->
    </section> <!--  text box  comments END-->

    <section class="box-coments">
      <!--  body box begin-->
      <div class="body-card">
        <div class="container">
          <div class="row">
            <div class="col l4 m8 s12 offset-m2 offset-l4">
              <div class="box-card">
                <div class="card">
                  <!-- <figure class="photo-user left-align"> -->
                    <img class="img-user1 circle" src="../assets/images/user-img/user1.jpg" alt="User Photo">
                  <!-- </figure> -->
                  <div class="card-image">
                    <!-- <a href="#" class="btn-floating btn-large icon-img-text waves-effect waves-light green darken-3">Veg</a> -->
                    <img src="../assets/images/comi.jpg" alt="veggie-img">
                    <span class="card-title"><span>Ensalada Super Rica</span></span>
                  </div>
                  <!-- icons -->
                  <ul class="card-action-buttons">
                      <li><a href="#" target="_blank" class="btn-floating waves-effect waves-light white"><i class="material-icons grey-text text-darken-3">share</i></a></li>
                      <li><a class="btn-floating waves-effect waves-light green darken-2"><i class="material-icons like">favorite_border</i></a></li>
                      <li><a id="face" class="btn-floating waves-effect waves-light blue"><i class="material-icons star">star</i></a></li>
                  </ul>
                  <!-- card contain -->
                  <div class="card-content">
                    <div class="row">
                      <div class="col s12">
                        <p>
                          <strong>Descripción:</strong> <br />
                          Ensalada super nutritiva, en sólo 5 minutos puedes comer super rico.
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="chips-style" >
                        <div class="chip">Veggie</div>
                        <div class="chip">Saludable</div>
                        <!-- <div class="chip">Económico</div> -->
                        <!-- <div class="chip">Rápido</div> -->
                        <div class="chip"><a href="#">Más...</a></div>
                      </div>
                    </div>
                    <div class="row">
                      <!-- old comments -->
                      <div class="text-comments">
                        <div class="card-action p-10">
                          <div class="row row1">
                            <div class="input-field m-0">
                              <a href="#" class="prefix"><img src="../assets/images/user-img/user1.jpg" alt="user" class="img-user2 circle"></a>
                              <p class="col s10 m11 l10 right m-0 w-wrap p-10 white">yummy :)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- new comments -->
                      <div class="card-action p-10">
                        <div class="row row1">
                          <div class="input-field m-0">
                            <a href="#" class="prefix"><img src="../assets/images/user-img/user1.jpg" alt="user" class="img-user2 circle"></a>
                            <p class="col s10 m11 l10 right m-0 w-wrap p-10 white">Intentaré preparar tu receta</p>
                          </div>
                        </div>
                      </div> <!-- card-action END-->
                    </div>  <!-- . row END-->
                  </div> <!-- .card-content END-->
                </div>  <!-- .card END-->
              </div> <!-- .product-card END-->
            </div> <!-- .col l4 m8 s12 offset-m2 offset-l4 END-->
          </div> <!-- .row END-->
        </div> <!-- .container END--> <!-- body box END-->
      </div> <!-- .body-card END--> <!-- body box END-->
    </section> <!--  text box  comments END-->
  </main>

  <!-- jQuery  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- firebase.js -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <!-- Materialize js Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="vendors/bootstrap/js/bootstrap.min.js"></script> -->
  <!-- home.js -->
  <script type="text/javascript" src="../js/home.js"></script>
  <!-- app.js -->
  <!-- <script type="text/javascript" src="../js/app.js"></script> -->
</body>
</html>
